<style>
    .main{
        height: 1000px;
        text-align: left;
        font-size: 18px;
        line-height: 30px;
    }
    .list .left{
        float: left;
    }
    .list .right{
        float: right;
    }
    .list li{
        padding-top: 20px;
    }
    .clear{
        clear: both;
    }
    .type{
        border-radius: 40%;
        border: 1px solid #ccc;
        padding: 5px;
    }
    .type:hover{
        background: red;
        color: #fff;
    }
    .main a{
        text-decoration: none;
    }
    ul,ol{
        list-style: none;
    }
    .cut{
         height:1px;
         width:100%;
         background:#ccc;
         overflow:hidden;
         margin-top: 20px;
    }
    #c-left{
        width: 100%;
        float: left;
        margin-right: 10px;
    }
</style>
{template "content","header"}
<!--main-->
<div class="main">
	<div id="c-left">
        <div class="crumbs"><a href="{siteurl($siteid)}">首页</a><span> > </span>{catpos($catid)} 列表</div>
        {pc:content action="lists" catid="$catid" num="25" order="id DESC" page="$page"}
            <ul class="list">
                {loop $data $r}
                    <li>
                        <a href="{$r[url]}" class="left"><h2>{$r[title]}</h2></a>
                        <span class="right">{date('Y-m-d H:i:s',$r[inputtime])}</span>
                        <div class="clear"></div>
                        <p>{$r[description]}</p>
                        <a href="#" class="type">资讯</a>
                        <div class="cut"></div>
                    </li>
                    <!-- {if $n%5==0}<li class="bk20 hr"></li>{/if} -->
                {/loop}
            </ul>
            <div id="pages" class="text-c">{$pages}</div>
        {/pc}

<!--         <ul class="list">
            <li>
                <a href="#" class="left"><h2>2016第二届全国大学生创业家成长计划</h2></a>
                <span class="right">2016-7-3</span>
                <div class="clear"></div>
                <p>摘要: 报名截止日期：2016年7月24日  活动名称：2016第二届全国大学生创业家成长计划主办单位：百度、中国...</p>
                <a href="#" class="type">zixun</a>
                <div class="cut"></div>
            </li>
            <li>
                <a href="#" class="left"><h2>2016第二届全国大学生创业家成长计划</h2></a>
                <span class="right">2016-7-3</span>
                <div class="clear"></div>
                <p>摘要: 报名截止日期：2016年7月24日  活动名称：2016第二届全国大学生创业家成长计划主办单位：百度、中国...</p>
                <a href="#" class="type">zixun</a>
                <div class="cut"></div>
            </li>
            <li>
                <a href="#" class="left"><h2>2016第二届全国大学生创业家成长计划</h2></a>
                <span class="right">2016-7-3</span>
                <div class="clear"></div>
                <p>摘要: 报名截止日期：2016年7月24日  活动名称：2016第二届全国大学生创业家成长计划主办单位：百度、中国...</p>
                <a href="#" class="type">zixun</a>
                <div class="cut"></div>
            </li>
            <li>
                <a href="#" class="left"><h2>2016第二届全国大学生创业家成长计划</h2></a>
                <span class="right">2016-7-3</span>
                <div class="clear"></div>
                <p>摘要: 报名截止日期：2016年7月24日  活动名称：2016第二届全国大学生创业家成长计划主办单位：百度、中国...</p>
                <a href="#" class="type">zixun</a>
                <div class="cut"></div>
            </li>
        </ul> -->
    </div>
</div>
<!-- <div class="col-auto">
    <div class="box">
        <h5 class="title-2">频道总排行</h5>
        {pc:content action="hits" catid="$catid" num="10" order="views DESC" cache="3600"}
        <ul class="content digg">
            {loop $data $r}
            <li><a href="{$r[url]}" target="_blank">{$r[title]}</a></li>
            {/loop}
        </ul>
        {/pc}
    </div>
    <div class="bk10"></div>
    <div class="box">
        <h5 class="title-2">频道本月排行</h5>
        {pc:content action="hits" catid="$catid" num="8" order="monthviews DESC" cache="3600"}
        <ul class="content rank">
            {loop $data $r}
            <li><span>{number_format($r[monthviews])}</span><a href="{$r[url]}"{title_style($r[style])} class="title" title="{$r[title]}">{str_cut($r[title],56,'...')}</a></li>
            {/loop}
        </ul>
        {/pc}
    </div>
</div> -->

{template "content","footer"}